.error {
    color: red;
    font-size: 13px !important;
}
label{
    font-size: 17px !important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    font-weight: 500 !important;
}

.previewimage-modal-header{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem !important;
    border-bottom: 0px !important;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.text-wrap{
    white-space:normal;
}
.width-200{
    width:300px;
}

.checkbox-custom-cstm {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.mt-20{
    padding-bottom: 10px;
  }
  

.checkbox-custom-cstm .form-check.form-check-inline {
    width: 25%;
    margin: 0;
    margin-bottom: 10px;
}

.checkbox-custom-cstm .form-check.form-check-inline label {
    font-size: 13px;
    color: #333;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item:hover .nav-link:not(.nav-item) {
    color: #000;
}

label {
    display: block;
}

.dNone{
    display: none;
}

.payment_details {
    padding: 0;
    margin: 0;
}
.div-remove{
    display: none;
}

.datepicker table>:not(caption)>*>*,
.table>:not(caption)>*>* {
    padding: 0.40rem;
}

.main-wrapper .login-page-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/images/login-pic.jpg');
}

.auth-logo {
    text-align: center;
}

.auth-logo-dark {
    width: 125px;
}

.switchery {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    width: 44px;
    height: 22px;
    vertical-align: middle;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.checkbox-switchery .switchery {
    position: absolute;
    left: 0;
    margin-top: -2px;
}

.switchery>small {
    background-color: #fff;
    border-radius: 100px;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.checkbox.checkbox-switchery {
    margin-bottom: 14px;
    padding-left: 0;
}

.checkbox.checkbox-switchery.disabled .switchery {
    cursor: not-allowed;
}

.checkbox[class*=switchery-],
.checkbox-inline[class*=switchery-] {
    padding-left: 0;
    padding-right: 0;
}

.switchery-lg.checkbox-switchery {
    margin-bottom: 18px;
}

.switchery-lg.checkbox-switchery .switchery {
    margin-top: -4px;
}

label.switchery-lg {
    margin-bottom: 0;
}

.switchery-lg .switchery {
    height: 26px;
    width: 52px;
}

.switchery-lg .switchery>small {
    height: 26px;
    width: 26px;
}

.switchery-sm.checkbox-switchery {
    margin-bottom: 10px;
}

.switchery-sm.checkbox-switchery .switchery {
    margin-top: 0px;
}

label.switchery-sm {
    margin-bottom: 0;
}

.switchery-sm .switchery {
    height: 18px;
    width: 36px;
}

.switchery-sm .switchery>small {
    height: 18px;
    width: 18px;
}

.switchery-xs.checkbox-switchery {
    margin-bottom: 6px;
}

.switchery-xs.checkbox-switchery .switchery {
    margin-top: 2px;
}

label.switchery-xs {
    margin-bottom: 0;
}

.switchery-xs .switchery {
    height: 14px;
    width: 28px;
}

.switchery-xs .switchery>small {
    height: 14px;
    width: 14px;
}

.checkbox-switchery label,
label.checkbox-switchery {
    position: relative;
    padding-left: 56px;
    margin: 0;
    cursor: pointer;
}

.checkbox-switchery.switchery-lg label,
label.checkbox-switchery.switchery-lg {
    padding-left: 64px;
}

.checkbox-switchery.switchery-sm label,
label.checkbox-switchery.switchery-sm {
    padding-left: 48px;
}

.checkbox-switchery.switchery-xs label,
label.checkbox-switchery.switchery-xs {
    padding-left: 40px;
}

.checkbox-switchery.checkbox-inline {
    margin-bottom: 0;
}

.checkbox-switchery.checkbox-right .switchery {
    left: auto;
    right: 0;
}

.checkbox-switchery.checkbox-right label,
label.checkbox-switchery.checkbox-right {
    padding-left: 0;
    padding-right: 56px;
}

.checkbox-switchery.checkbox-right.switchery-lg label,
label.checkbox-switchery.checkbox-right.switchery-lg {
    padding-left: 0;
    padding-right: 64px;
}

.checkbox-switchery.checkbox-right.switchery-sm label,
label.checkbox-switchery.checkbox-right.switchery-sm {
    padding-left: 0;
    padding-right: 48px;
}

.checkbox-switchery.checkbox-right.switchery-xs label,
label.checkbox-switchery.checkbox-right.switchery-xs {
    padding-left: 0;
    padding-right: 40px;
}

.switchery-double .switchery {
    position: relative;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: -7px;
    margin-bottom: -5px;
}

.switchery-double.checkbox-switchery label,
label.switchery-double.checkbox-switchery {
    padding: 0;
}

.switchery-double.switchery-lg .switchery {
    margin-top: -8px;
    margin-bottom: -6px;
}

.switchery-double.switchery-sm .switchery {
    margin-top: -6px;
    margin-bottom: -4px;
}

.switchery-double.switchery-xs .switchery {
    margin-top: -5px;
    margin-bottom: -3px;
}

.dataTables_wrapper.dt-bootstrap4 .dataTables_length select {
    width: auto !important;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

span#select2-cosharecompany-container {
    width: 145px;
    /* margin-bottom: 15px; */
}

.co-sharing-company {
    margin-bottom: 15px;
}

button#btnaddcosharing {
    margin: 18px;
}

div#cosharedetails {
    margin-bottom: 10px;
}

#co_sharing_detail,
#dvpolicytype .select2-container,
#addcoshring .select2-container {
    width: 100% !important;
}

.ui-datepicker-calendar {
    display: none;
}

.ui-widget {
    font-size: .7em;
}

/* .datepicker.datepicker-dropdown, .dropdown-menu{
    z-index: 999 !important;
} */
.table tbody tr {
    vertical-align: middle;
}
div#loader {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999999;
    top: 0;
    bottom: 0;
    margin: auto;
}
.loader-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: rgb(0 0 0 / 38%);
}
.carouselWrap{height:100vh; position:relative;}
.carouselWrap::before{content:''; background:url('../images/CHRISTMAS.jpg') no-repeat center 0 / cover;
position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:100%; height:100%; opacity:.5;}
.owl-stage-outer, .owl-item, .item,
.owl-carousel .owl-stage{ height:100%;}
.carouselWrap .owl-item .item img{ max-width:100%; width:auto ; max-height:100%; margin:0 auto;}
.carouselWrap .owl-item .item>img{ border-radius:24px; border:20px solid transparent;}
.carouselWrap .owl-nav {position: absolute; width:100%; top:50%; transform:translateY(-50%);}
.carouselWrap .owl-nav button{ position:absolute; background:#fff !important; width:40px; height:40px; }
.carouselWrap .owl-nav button:hover{ background:#6571ff !important;}
.carouselWrap .owl-nav button span{font-size:2rem; color:#333; line-height:24px;}
.carouselWrap .owl-nav button:hover span{color:#fff;}
.carouselWrap .owl-nav .owl-prev{ left:0; right:auto;}
.carouselWrap .owl-nav .owl-next{ right:0; left:auto ;}
.carouselWrap .owl-dots{ display:none;}


.CarnivalBox{ display:flex; padding:0 1rem; height:100%;} 
.CarnivalBoxLeft, .CarnivalBoxRight{ width:25%;display: flex; align-items: center; flex-wrap:wrap; justify-content:center;}
.CarnivalBoxMiddle{ width:50%; padding:0 1rem;} 
.CarnivalLogo{ margin:0;}
.CarnivalLogo img{ max-height:200px !important;}
.CarnivalBoxMiddle table{ width:100%; background:#fff;}
.CarnivalBoxMiddle table th + th,
.CarnivalBoxMiddle table td + td{ border-left:1px solid #eee;}
.CarnivalBoxMiddle table th{ color:#333; font-weight:700;}
.CarnivalBoxMiddle table td{ color:#666;}
.CarnivalBoxMiddle table tbody tr:nth-child(2n+1){background:#8f0616;}
.CarnivalBoxMiddle table tbody tr:nth-child(2n+1) td{ color:#fff;}
.topMotor{ font-size:2rem; text-align:center; display:block;}
.CarnivalBoxMiddle p {
    font-size: 2rem;
    text-align: center;
    display: block;
}
.CarnivalBoxMiddle table th, .CarnivalBoxMiddle table td{ padding:5px .75rem; font-size:2rem;}

.carouselWrap .owl-item .item.bg-01{background: #9baebf; padding:50px 0;}
.carouselWrap .owl-item .item.bg-01 img{border-color:#054261;}

.carouselWrap .owl-item .item.bg-02{background: #22304b; padding:50px 0;}
.carouselWrap .owl-item .item.bg-02 img{border-color:#b0bfdb;}

.carouselWrap .owl-item .item.bg-03{background: #7092b5; padding:50px 0;}
.carouselWrap .owl-item .item.bg-03 img{border-color:#316aa5;}

.carouselWrap .owl-item .item.bg-04{background: #d3d1de; padding:50px 0;}
.carouselWrap .owl-item .item.bg-04 img{border-color:#626d97;}

.carouselWrap .owl-item .item.bg-05{background: #add9f1; padding:50px 0;}
.carouselWrap .owl-item .item.bg-05 img{border-color:#0771ab;}

.carouselWrap .owl-item .item.bg-06{background: #5299d3; padding:50px 0;}
.carouselWrap .owl-item .item.bg-06 img{border-color:#055fa9;}

.carouselWrap .owl-item .item.bg-07{background: #256385; padding:50px 0;}
.carouselWrap .owl-item .item.bg-07 img{border-color:#94c8e5;}

.carouselWrap .owl-item .item.bg-08{ background:#fff;}

.CarnivalBoxMiddle.carnival-policy table tbody tr:first-child th {
    color: #fff;
}
.CarnivalBoxMiddle.carnival-policy table tbody tr:nth-child(3) th {
    color: #fff;
}
.CarnivalBoxMiddle.carnival-policy table th, .CarnivalBoxMiddle.carnival-policy table td {
    font-size: 2.6rem;
}
.CarnivalBox.carnival-pol {
    align-items: center;
}
.CarnivalBox.carnival-pol .CarnivalLogo {
    margin-bottom: 210px;
}
.carnival-buis .CarnivalBoxMiddle table th, .carnival-buis .CarnivalBoxMiddle table td {
    font-size: 3rem;
}
.CarnivalTable {
    box-shadow: 10px 20px 60px rgb(0 0 0 / 30%);
}
.CarnivalBoxMiddle p {
    font-size: 2.5rem;
    text-align: center;
    display: block;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
    margin-top: 30px;
}
.CarnivalBox.carnival-buis {
    align-items: center;
}

.CarnivalBox.carnival-buis .CarnivalLogo {
    margin-bottom: 100px;
}

#pre_policy_div{border: 1px solid #eee;box-shadow: 1px 2px 10px #dddd;margin: 0 auto;   margin-bottom: 20px;border-radius: 5px;}
.card-title{margin: 20px 0;}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: 100px !important;
}

.dropzone-upload{
    overflow:auto;
    border:1px solid #e9ecef;
    border-radius:.25rem;
    max-height:200px;
    padding:0
}